<a href="https://colab.research.google.com/github/mteoraso/DataScience_practice/blob/EDA-Projects/SQLite_intermedio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Creacion de bases de datos con SQLITE**

In [1]:
import sqlite3  ## Importar motor de bases de datos

In [2]:
## Crear la consulta
query = """
  CREATE TABLE comunidades_energeticas (
  id_comunidad INTEGER PRIMARY KEY AUTOINCREMENT,
  nombre TEXT NOT NULL,
  descripcion TEXT DEFAULT NULL,
  ubicacion TEXT DEFAULT NULL,
  proyecto_asociado INTEGER,
  FOREIGN KEY (proyecto_asociado) REFERENCES proyectos(id_proyecto)
);"""

In [3]:
con = sqlite3.connect("mydata.sqlite")  ## Crear base de datos
con.execute(query)                      ## Ejecutar consulta

In [4]:
con.commit()  ## Para confirmar los cambios

In [5]:
## Rellenar columnas con datos
data = [
    (1, "Comunidad Solar Andes",
     "Comunidad que utiliza energía solar", "Andes", 1),
    (2, "Comunidad Eólica La Guajira",
     "Comunidad que utiliza energía eólica", "La Guajira", 2),
    (3, "Comunidad Biomasa Cauca",
     "Comunidad que utiliza energía de biomasa", "Cauca", 4),
    (4, "Comunidad Geotérmica Nariño",
     "Comunidad que utiliza energía geotérmica", "Nariño", 5)
    ]
## Asocio la cantidad de signos ? con las columnas a rellenar
stmt = "INSERT INTO comunidades_energeticas VALUES(?, ?, ?, ?, ?)"

con.executemany(stmt, data)  ## Ejecuto varias consultas de manera simultanea

con.commit()  ## Confirmar cambios

In [6]:
query = """
  CREATE TABLE eficiencia_energetica (
  id_eficiencia INTEGER PRIMARY KEY AUTOINCREMENT,
  proyecto_id INTEGER,
  tipo_energia_id INTEGER,
  fecha DATE DEFAULT NULL,
  kw_h_generado REAL DEFAULT NULL,
  costo_produccion REAL DEFAULT NULL,
  costo_comercializacion REAL DEFAULT NULL,
  tiempos_muertos INTEGER DEFAULT NULL,
  clima TEXT DEFAULT NULL,
  indicador_economico REAL DEFAULT NULL,
  indicador_sociodemografico REAL DEFAULT NULL,
  FOREIGN KEY (proyecto_id) REFERENCES proyectos(id_proyecto),
  FOREIGN KEY (tipo_energia_id) REFERENCES tipos_energia(id_tipo)
);
"""

In [7]:
con.execute(query)

In [8]:
data = [
    (1, 1, 3, "2022-01-01", 1500.00, 100000.00, 5000.00, 2, "Soleado", 80.00, 70.00),
    (2, 1, 3, "2022-01-02", 1520.00, 101000.00, 5100.00, 1, "Soleado", 81.00, 71.00),
    (3, 1, 3, "2022-01-03", 1480.00, 99000.00, 4900.00, 3, "Nublado", 79.00, 69.00),
    (4, 1, 3, "2022-01-04", 1510.00, 100500.00, 5050.00, 2, "Soleado", 80.50, 70.50),
    (5, 1, 3, "2022-01-05", 1490.00, 99500.00, 4975.00, 2, "Nublado", 79.50, 69.50),
    (6, 1, 3, "2022-01-06", 1505.00, 100250.00, 5025.00, 1, "Soleado", 80.25, 70.25),
    (7, 1, 3, "2022-01-07", 1515.00, 100750.00, 5075.00, 2, "Nublado", 80.75, 70.75),
    (8, 1, 3, "2022-01-08", 1525.00, 101250.00, 5125.00, 3, "Soleado", 81.25, 71.25),
    (9, 1, 3, "2022-01-09", 1485.00, 99250.00, 4950.00, 1, "Nublado", 79.25, 69.25),
    (10, 1, 3, "2022-01-10", 1475.00, 98750.00, 4925.00, 2, "Soleado", 78.75, 68.75),
    (11, 2, 2, "2021-06-01", 2000.00, 150000.00, 8000.00, 1, "Ventoso", 85.00, 65.00),
    (12, 2, 2, "2021-06-02", 2020.00, 151000.00, 8100.00, 0, "Ventoso", 86.00, 66.00),
    (13, 2, 2, "2021-06-03", 1980.00, 149000.00, 7900.00, 2, "Lluvioso", 84.00, 64.00),
    (14, 2, 2, "2021-06-04", 2010.00, 150500.00, 8050.00, 1, "Ventoso", 85.50, 65.50),
    (15, 2, 2, "2021-06-05", 1990.00, 149500.00, 7975.00, 1, "Lluvioso", 84.50, 64.50),
    (16, 2, 2, "2021-06-06", 2005.00, 150250.00, 8025.00, 0, "Ventoso", 85.25, 65.25),
    (17, 2, 2, "2021-06-07", 2015.00, 150750.00, 8075.00, 1, "Ventoso", 85.75, 65.75),
    (18, 2, 2, "2021-06-08", 2025.00, 151250.00, 8125.00, 2, "Lluvioso", 86.25, 66.25),
    (19, 2, 2, "2021-06-09", 1985.00, 149250.00, 7950.00, 0, "Ventoso", 84.25, 64.25),
    (20, 2, 2, "2021-06-10", 1975.00, 148750.00, 7925.00, 1, "Ventoso", 83.75, 63.75),
    (21, 3, 1, "2023-04-01", 1800.00, 120000.00, 6000.00, 3, "Lluvioso", 75.00, 72.00),
    (22, 3, 1, "2023-04-02", 1820.00, 121000.00, 6100.00, 2, "Nublado", 76.00, 73.00),
    (23, 3, 1, "2023-04-03", 1780.00, 119000.00, 5900.00, 4, "Lluvioso", 74.00, 71.00),
    (24, 3, 1, "2023-04-04", 1810.00, 120500.00, 6050.00, 3, "Soleado", 75.50, 72.50),
    (25, 3, 1, "2023-04-05", 1790.00, 119500.00, 5975.00, 3, "Lluvioso", 74.50, 71.50),
    (26, 3, 1, "2023-04-06", 1805.00, 120250.00, 6025.00, 2, "Nublado", 75.25, 72.25),
    (27, 3, 1, "2023-04-07", 1815.00, 120750.00, 6075.00, 3, "Lluvioso", 75.75, 72.75),
    (28, 3, 1, "2023-04-08", 1825.00, 121250.00, 6125.00, 4, "Soleado", 76.25, 73.25),
    (29, 3, 1, "2023-04-09", 1785.00, 119250.00, 5950.00, 2, "Lluvioso", 74.25, 71.25),
    (30, 3, 1, "2023-04-10", 1775.00, 118750.00, 5925.00, 3, "Nublado", 73.75, 70.75),
    (31, 4, 4, "2022-07-01", 1600.00, 110000.00, 7000.00, 0, "Nublado", 78.00, 68.00),
    (32, 4, 4, "2022-07-02", 1620.00, 111000.00, 7100.00, 1, "Soleado", 79.00, 69.00),
    (33, 4, 4, "2022-07-03", 1580.00, 109000.00, 6900.00, 2, "Nublado", 77.00, 67.00),
    (34, 4, 4, "2022-07-04", 1610.00, 110500.00, 7050.00, 1, "Soleado", 78.50, 68.50),
    (35, 4, 4, "2022-07-05", 1590.00, 109500.00, 6975.00, 0, "Nublado", 77.50, 67.50),
    (36, 4, 4, "2022-07-06", 1605.00, 110250.00, 7025.00, 1, "Soleado", 78.25, 68.25),
    (37, 4, 4, "2022-07-07", 1615.00, 110750.00, 7075.00, 2, "Nublado", 78.75, 68.75),
    (38, 4, 4, "2022-07-08", 1625.00, 111250.00, 7125.00, 3, "Soleado", 79.25, 69.25),
    (39, 4, 4, "2022-07-09", 1585.00, 109250.00, 6950.00, 0, "Nublado", 77.25, 67.25),
    (40, 4, 4, "2022-07-10", 1575.00, 108750.00, 6925.00, 1, "Soleado", 76.75, 66.75),
    (41, 5, 5, "2023-02-01", 1700.00, 130000.00, 7500.00, 4, "Frío", 82.00, 70.00),
    (42, 5, 5, "2023-02-02", 1720.00, 131000.00, 7600.00, 3, "Nublado", 83.00, 71.00),
    (43, 5, 5, "2023-02-03", 1680.00, 129000.00, 7400.00, 5, "Frío", 81.00, 69.00),
    (44, 5, 5, "2023-02-04", 1710.00, 130500.00, 7550.00, 4, "Soleado", 82.50, 70.50),
    (45, 5, 5, "2023-02-05", 1690.00, 129500.00, 7475.00, 3, "Nublado", 81.50, 69.50),
    (46, 5, 5, "2023-02-06", 1705.00, 130250.00, 7525.00, 2, "Frío", 82.25, 70.25),
    (47, 5, 5, "2023-02-07", 1715.00, 130750.00, 7575.00, 4, "Nublado", 82.75, 70.75),
    (48, 5, 5, "2023-02-08", 1725.00, 131250.00, 7625.00, 5, "Soleado", 83.25, 71.25),
    (49, 5, 5, "2023-02-09", 1685.00, 129250.00, 7450.00, 3, "Frío", 81.25, 69.25),
    (50, 5, 5, "2023-02-10", 1675.00, 128750.00, 7425.00, 4, "Nublado", 80.75, 68.75)]

stmt = "INSERT INTO eficiencia_energetica VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"

con.executemany(stmt, data)

con.commit()

In [9]:
cursor = con.execute("SELECT * FROM eficiencia_energetica")

rows = cursor.fetchall()  ## El metodo FETCHALL retorna los valores de la consulta

rows  ## Retorna una tupla

[(1, 1, 3, '2022-01-01', 1500.0, 100000.0, 5000.0, 2, 'Soleado', 80.0, 70.0),
 (2, 1, 3, '2022-01-02', 1520.0, 101000.0, 5100.0, 1, 'Soleado', 81.0, 71.0),
 (3, 1, 3, '2022-01-03', 1480.0, 99000.0, 4900.0, 3, 'Nublado', 79.0, 69.0),
 (4, 1, 3, '2022-01-04', 1510.0, 100500.0, 5050.0, 2, 'Soleado', 80.5, 70.5),
 (5, 1, 3, '2022-01-05', 1490.0, 99500.0, 4975.0, 2, 'Nublado', 79.5, 69.5),
 (6, 1, 3, '2022-01-06', 1505.0, 100250.0, 5025.0, 1, 'Soleado', 80.25, 70.25),
 (7, 1, 3, '2022-01-07', 1515.0, 100750.0, 5075.0, 2, 'Nublado', 80.75, 70.75),
 (8, 1, 3, '2022-01-08', 1525.0, 101250.0, 5125.0, 3, 'Soleado', 81.25, 71.25),
 (9, 1, 3, '2022-01-09', 1485.0, 99250.0, 4950.0, 1, 'Nublado', 79.25, 69.25),
 (10, 1, 3, '2022-01-10', 1475.0, 98750.0, 4925.0, 2, 'Soleado', 78.75, 68.75),
 (11, 2, 2, '2021-06-01', 2000.0, 150000.0, 8000.0, 1, 'Ventoso', 85.0, 65.0),
 (12, 2, 2, '2021-06-02', 2020.0, 151000.0, 8100.0, 0, 'Ventoso', 86.0, 66.0),
 (13, 2, 2, '2021-06-03', 1980.0, 149000.0, 7900.0, 2, 'Lluvioso', 84.0, 64.0),
 (14, 2, 2, '2021-06-04', 2010.0, 150500.0, 8050.0, 1, 'Ventoso', 85.5, 65.5),
 (15, 2, 2, '2021-06-05', 1990.0, 149500.0, 7975.0, 1, 'Lluvioso', 84.5, 64.5),
 (16,
  2,
  2,
  '2021-06-06',
  2005.0,
  150250.0,
  8025.0,
  0,
  'Ventoso',
  85.25,
  65.25),
 (17,
  2,
  2,
  '2021-06-07',
  2015.0,
  150750.0,
  8075.0,
  1,
  'Ventoso',
  85.75,
  65.75),
 (18,
  2,
  2,
  '2021-06-08',
  2025.0,
  151250.0,
  8125.0,
  2,
  'Lluvioso',
  86.25,
  66.25),
 (19,
  2,
  2,
  '2021-06-09',
  1985.0,
  149250.0,
  7950.0,
  0,
  'Ventoso',
  84.25,
  64.25),
 (20,
  2,
  2,
  '2021-06-10',
  1975.0,
  148750.0,
  7925.0,
  1,
  'Ventoso',
  83.75,
  63.75),
 (21, 3, 1, '2023-04-01', 1800.0, 120000.0, 6000.0, 3, 'Lluvioso', 75.0, 72.0),
 (22, 3, 1, '2023-04-02', 1820.0, 121000.0, 6100.0, 2, 'Nublado', 76.0, 73.0),
 (23, 3, 1, '2023-04-03', 1780.0, 119000.0, 5900.0, 4, 'Lluvioso', 74.0, 71.0),
 (24, 3, 1, '2023-04-04', 1810.0, 120500.0, 6050.0, 3, 'Soleado', 75.5, 72.5),
 (25, 3, 1, '2023-04-05', 1790.0, 119500.0, 5975.0, 3, 'Lluvioso', 74.5, 71.5),
 (26,
  3,
  1,
  '2023-04-06',
  1805.0,
  120250.0,
  6025.0,
  2,
  'Nublado',
  75.25,
  72.25),
 (27,
  3,
  1,
  '2023-04-07',
  1815.0,
  120750.0,
  6075.0,
  3,
  'Lluvioso',
  75.75,
  72.75),
 (28,
  3,
  1,
  '2023-04-08',
  1825.0,
  121250.0,
  6125.0,
  4,
  'Soleado',
  76.25,
  73.25),
 (29,
  3,
  1,
  '2023-04-09',
  1785.0,
  119250.0,
  5950.0,
  2,
  'Lluvioso',
  74.25,
  71.25),
 (30,
  3,
  1,
  '2023-04-10',
  1775.0,
  118750.0,
  5925.0,
  3,
  'Nublado',
  73.75,
  70.75),
 (31, 4, 4, '2022-07-01', 1600.0, 110000.0, 7000.0, 0, 'Nublado', 78.0, 68.0),
 (32, 4, 4, '2022-07-02', 1620.0, 111000.0, 7100.0, 1, 'Soleado', 79.0, 69.0),
 (33, 4, 4, '2022-07-03', 1580.0, 109000.0, 6900.0, 2, 'Nublado', 77.0, 67.0),
 (34, 4, 4, '2022-07-04', 1610.0, 110500.0, 7050.0, 1, 'Soleado', 78.5, 68.5),
 (35, 4, 4, '2022-07-05', 1590.0, 109500.0, 6975.0, 0, 'Nublado', 77.5, 67.5),
 (36,
  4,
  4,
  '2022-07-06',
  1605.0,
  110250.0,
  7025.0,
  1,
  'Soleado',
  78.25,
  68.25),
 (37,
  4,
  4,
  '2022-07-07',
  1615.0,
  110750.0,
  7075.0,
  2,
  'Nublado',
  78.75,
  68.75),
 (38,
  4,
  4,
  '2022-07-08',
  1625.0,
  111250.0,
  7125.0,
  3,
  'Soleado',
  79.25,
  69.25),
 (39,
  4,
  4,
  '2022-07-09',
  1585.0,
  109250.0,
  6950.0,
  0,
  'Nublado',
  77.25,
  67.25),
 (40,
  4,
  4,
  '2022-07-10',
  1575.0,
  108750.0,
  6925.0,
  1,
  'Soleado',
  76.75,
  66.75),
 (41, 5, 5, '2023-02-01', 1700.0, 130000.0, 7500.0, 4, 'Frío', 82.0, 70.0),
 (42, 5, 5, '2023-02-02', 1720.0, 131000.0, 7600.0, 3, 'Nublado', 83.0, 71.0),
 (43, 5, 5, '2023-02-03', 1680.0, 129000.0, 7400.0, 5, 'Frío', 81.0, 69.0),
 (44, 5, 5, '2023-02-04', 1710.0, 130500.0, 7550.0, 4, 'Soleado', 82.5, 70.5),
 (45, 5, 5, '2023-02-05', 1690.0, 129500.0, 7475.0, 3, 'Nublado', 81.5, 69.5),
 (46, 5, 5, '2023-02-06', 1705.0, 130250.0, 7525.0, 2, 'Frío', 82.25, 70.25),
 (47,
  5,
  5,
  '2023-02-07',
  1715.0,
  130750.0,
  7575.0,
  4,
  'Nublado',
  82.75,
  70.75),
 (48,
  5,
  5,
  '2023-02-08',
  1725.0,
  131250.0,
  7625.0,
  5,
  'Soleado',
  83.25,
  71.25),
 (49, 5, 5, '2023-02-09', 1685.0, 129250.0, 7450.0, 3, 'Frío', 81.25, 69.25),
 (50,
  5,
  5,
  '2023-02-10',
  1675.0,
  128750.0,
  7425.0,
  4,
  'Nublado',
  80.75,
  68.75)]

In [10]:
cursor = con.execute("SELECT * FROM comunidades_energeticas")

rows = cursor.fetchall()

rows  ## Retorna una tupla

[(1,
  'Comunidad Solar Andes',
  'Comunidad que utiliza energía solar',
  'Andes',
  1),
 (2,
  'Comunidad Eólica La Guajira',
  'Comunidad que utiliza energía eólica',
  'La Guajira',
  2),
 (3,
  'Comunidad Biomasa Cauca',
  'Comunidad que utiliza energía de biomasa',
  'Cauca',
  4),
 (4,
  'Comunidad Geotérmica Nariño',
  'Comunidad que utiliza energía geotérmica',
  'Nariño',
  5)]

In [11]:
## Creamos una tabla para alojar las empresas desarrolladoras de proyectos
query = """
    CREATE TABLE empresas (
        id_empresa INTEGER PRIMARY KEY AUTOINCREMENT,
        nombre TEXT DEFAULT NULL,
        industria TEXT DEFAULT NULL,
        proyecto_id INTEGER,
        FOREIGN KEY (proyecto_id) REFERENCES proyectos(id_proyecto)
        )
        """
cursor = con.execute(query)

In [12]:
## Ingresamos los datos FICTICIOS de las empresas
data = [
    (1, 'SolarTech', 'Energía Solar', 1),
    (2, 'WindPower', 'Energía Eólica', 2),
    (3, 'GreenH2', 'Hidrógeno Verde', 3),
    (4, 'BioEnergy', 'Biomasa', 4),
    (5, 'GeoEnergy', 'Geotermia', 5)
        ]

stmt = "INSERT INTO empresas VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)

con.commit()

In [13]:
## Creamos tabla asociada a estudios sobre energias renovables
query = """
  CREATE TABLE estudios (
    id_estudio INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT NOT NULL,
    descripcion TEXT DEFAULT NULL,
    fecha DATE DEFAULT NULL,
    proyecto_id INTEGER,
    FOREIGN KEY (proyecto_id) REFERENCES proyectos(id_proyecto)
)"""

cursor = con.execute(query)

In [14]:
data = [
        (1, 'Estudio de Viabilidad Solar', 'Análisis de viabilidad para la planta solar en Andes', '2021-12-01', 1),
        (2, 'Impacto Ambiental Eólico', 'Evaluación del impacto ambiental del parque eólico en La Guajira', '2020-11-01', 2),
        (3, 'Producción de Hidrógeno', 'Estudio de métodos de producción de hidrógeno verde', '2022-05-01', 3),
        (4, 'Biomasa y Sostenibilidad', 'Análisis de sostenibilidad de la planta de biomasa en Cauca', '2021-09-01', 4),
        (5, 'Eficiencia Geotérmica', 'Estudio de eficiencia de la planta geotérmica en Nariño', '2023-03-01', 5)
      ]

stmt = "INSERT INTO estudios VALUES(?, ?, ?, ?, ?)"

con.executemany(stmt, data)

con.commit()

In [15]:
## Creamos tabla de inversiones en energias renovables
query = """
CREATE TABLE inversiones (
  id_inversion INTEGER PRIMARY KEY AUTOINCREMENT,
  proyecto_id INTEGER,
  monto REAL DEFAULT NULL,
  fuente TEXT DEFAULT NULL,
  fecha DATE DEFAULT NULL,
  FOREIGN KEY (proyecto_id) REFERENCES proyectos(id_proyecto)
)"""

cursor = con.execute(query)

In [16]:
data = [
    (1, 1, 1000000.00, 'Gobierno', '2022-01-01'),
    (2, 2, 5000000.00, 'Privado', '2021-06-01'),
    (3, 3, 2000000.00, 'Gobierno', '2023-04-01'),
    (4, 4, 1500000.00, 'ONG', '2022-07-01'),
    (5, 5, 3000000.00, 'Privado', '2023-02-01')
    ]

stmt = "INSERT INTO inversiones VALUES(?, ?, ?, ?, ?)"

con.executemany(stmt, data)

con.commit()

In [17]:
## Creo tabla para investigadores en energias renovables
query = """
    CREATE TABLE investigadores (
      id_investigador INTEGER PRIMARY KEY AUTOINCREMENT,
      nombre TEXT DEFAULT NULL,
      apellido TEXT DEFAULT NULL,
      especialidad TEXT DEFAULT NULL,
      proyecto_id INTEGER,
      FOREIGN KEY (proyecto_id) REFERENCES proyectos(id_proyecto)
)"""

cursor = con.execute(query)

In [18]:
data = [
    (1, 'Juan', 'Pérez', 'Energía Solar', 1),
    (2, 'Ana', 'Gómez', 'Energía Eólica', 2),
    (3, 'Luis', 'Martínez', 'Hidrógeno Verde', 3),
    (4, 'María', 'Rodríguez', 'Biomasa', 4),
    (5, 'Carlos', 'López', 'Geotermia', 5)
  ]

stmt = "INSERT INTO investigadores VALUES(?, ?, ?, ?, ?)"

con.executemany(stmt, data)

con.commit()

In [19]:
## Crear tabla de minerales para produccion de productos enfocados a energias renovables
query = """
  CREATE TABLE minerales (
    id_mineral INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT NOT NULL,
    descripcion TEXT DEFAULT NULL,
    ubicacion TEXT DEFAULT NULL,
    proyecto_asociado INTEGER,
    FOREIGN KEY (proyecto_asociado) REFERENCES proyectos(id_proyecto)
)"""

cursor = con.execute(query)

In [20]:
data = [
        (1, 'Litio', 'Mineral estratégico para baterías', 'Cauca', 1),
        (2, 'Cobalto', 'Mineral estratégico para componentes electrónicos', 'Boyacá', 2),
        (3, 'Níquel', 'Mineral estratégico para aleaciones metálicas', 'Antioquia', 3),
        (4, 'Cobre', 'Mineral estratégico para conductividad eléctrica', 'Chocó', 4),
        (5, 'Uranio', 'Mineral estratégico para energía nuclear', 'Guainía', 5)
        ]

stmt = "INSERT INTO minerales VALUES(?, ?, ?, ?, ?)"

con.executemany(stmt, data)

con.commit()

In [21]:
## Creacion de tabla proyectos
query = """
    CREATE TABLE proyectos (
      id_proyecto INTEGER PRIMARY KEY AUTOINCREMENT,
      nombre TEXT NOT NULL,
      descripcion TEXT DEFAULT NULL,
      tipo_energia INTEGER,
      ubicacion TEXT DEFAULT NULL,
      fecha_inicio DATE DEFAULT NULL,
      fecha_fin DATE DEFAULT NULL,
      FOREIGN KEY (tipo_energia) REFERENCES tipos_energia(id_tipo)
      )"""

cursor = con.execute(query)

In [22]:
data = [
    (1, 'Proyecto Solar Andes', 'Desarrollo de una planta de energía solar', 3, 'Andes', '2022-01-01', '2023-01-01'),
    (2, 'Parque Eólico La Guajira', 'Generación de energía eólica', 2, 'La Guajira', '2021-05-01', '2022-12-01'),
    (3, 'Planta Hidrógeno Verde', 'Producción de hidrógeno verde', 1, 'Cartagena', '2023-03-01', '2024-03-01'),
    (4, 'Proyecto Biomasa Cauca', 'Generación de energía a partir de biomasa', 4, 'Cauca', '2022-06-01', '2023-06-01'),
    (5, 'Planta Geotérmica Nariño', 'Producción de energía geotérmica', 5, 'Nariño', '2023-01-01', '2024-01-01')
    ]

stmt = "INSERT INTO proyectos VALUES(?, ?, ?, ?, ?, ?, ?)"

con.executemany(stmt, data)

con.commit()

In [23]:
query = """
  CREATE TABLE tipos_energia (
    id_tipo INTEGER PRIMARY KEY AUTOINCREMENT,
    tipo TEXT NOT NULL
  )"""

cursor = con.execute(query)

In [24]:
data = [
    (1, 'Hidrógeno Verde'),
    (2, 'Eólica'),
    (3, 'Solar'),
    (4, 'Biomasa'),
    (5, 'Geotérmica')
]

In [25]:
stmt = "INSERT INTO tipos_energia VALUES(?, ?)"

con.executemany(stmt, data)

con.commit()

In [26]:
cursor = con.execute("SELECT * FROM sqlite_master WHERE type='table'")

rows = cursor.fetchall()  ## El metodo FETCHALL retorna los valores de la consulta

rows  ## Retorna una tupla

[('table',
  'comunidades_energeticas',
  'comunidades_energeticas',
  2,
  'CREATE TABLE comunidades_energeticas (\n  id_comunidad INTEGER PRIMARY KEY AUTOINCREMENT,\n  nombre TEXT NOT NULL,\n  descripcion TEXT DEFAULT NULL,\n  ubicacion TEXT DEFAULT NULL,\n  proyecto_asociado INTEGER,\n  FOREIGN KEY (proyecto_asociado) REFERENCES proyectos(id_proyecto)\n)'),
 ('table',
  'sqlite_sequence',
  'sqlite_sequence',
  3,
  'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table',
  'eficiencia_energetica',
  'eficiencia_energetica',
  4,
  'CREATE TABLE eficiencia_energetica (\n  id_eficiencia INTEGER PRIMARY KEY AUTOINCREMENT,\n  proyecto_id INTEGER,\n  tipo_energia_id INTEGER,\n  fecha DATE DEFAULT NULL,\n  kw_h_generado REAL DEFAULT NULL,\n  costo_produccion REAL DEFAULT NULL,\n  costo_comercializacion REAL DEFAULT NULL,\n  tiempos_muertos INTEGER DEFAULT NULL,\n  clima TEXT DEFAULT NULL,\n  indicador_economico REAL DEFAULT NULL,\n  indicador_sociodemografico REAL DEFAULT NULL,\n  FOREIGN KEY (proyecto_id) REFERENCES proyectos(id_proyecto),\n  FOREIGN KEY (tipo_energia_id) REFERENCES tipos_energia(id_tipo)\n)'),
 ('table',
  'empresas',
  'empresas',
  5,
  'CREATE TABLE empresas (\n        id_empresa INTEGER PRIMARY KEY AUTOINCREMENT,\n        nombre TEXT DEFAULT NULL,\n        industria TEXT DEFAULT NULL,\n        proyecto_id INTEGER,\n        FOREIGN KEY (proyecto_id) REFERENCES proyectos(id_proyecto)\n        )'),
 ('table',
  'estudios',
  'estudios',
  6,
  'CREATE TABLE estudios (\n    id_estudio INTEGER PRIMARY KEY AUTOINCREMENT,\n    nombre TEXT NOT NULL,\n    descripcion TEXT DEFAULT NULL,\n    fecha DATE DEFAULT NULL,\n    proyecto_id INTEGER,\n    FOREIGN KEY (proyecto_id) REFERENCES proyectos(id_proyecto)\n)'),
 ('table',
  'inversiones',
  'inversiones',
  7,
  'CREATE TABLE inversiones (\n  id_inversion INTEGER PRIMARY KEY AUTOINCREMENT,\n  proyecto_id INTEGER,\n  monto REAL DEFAULT NULL,\n  fuente TEXT DEFAULT NULL,\n  fecha DATE DEFAULT NULL,\n  FOREIGN KEY (proyecto_id) REFERENCES proyectos(id_proyecto)\n)'),
 ('table',
  'investigadores',
  'investigadores',
  8,
  'CREATE TABLE investigadores (\n      id_investigador INTEGER PRIMARY KEY AUTOINCREMENT,\n      nombre TEXT DEFAULT NULL,\n      apellido TEXT DEFAULT NULL,\n      especialidad TEXT DEFAULT NULL,\n      proyecto_id INTEGER,\n      FOREIGN KEY (proyecto_id) REFERENCES proyectos(id_proyecto)\n)'),
 ('table',
  'minerales',
  'minerales',
  9,
  'CREATE TABLE minerales (\n    id_mineral INTEGER PRIMARY KEY AUTOINCREMENT,\n    nombre TEXT NOT NULL,\n    descripcion TEXT DEFAULT NULL,\n    ubicacion TEXT DEFAULT NULL,\n    proyecto_asociado INTEGER,\n    FOREIGN KEY (proyecto_asociado) REFERENCES proyectos(id_proyecto)\n)'),
 ('table',
  'proyectos',
  'proyectos',
  10,
  'CREATE TABLE proyectos (\n      id_proyecto INTEGER PRIMARY KEY AUTOINCREMENT,\n      nombre TEXT NOT NULL,\n      descripcion TEXT DEFAULT NULL,\n      tipo_energia INTEGER,\n      ubicacion TEXT DEFAULT NULL,\n      fecha_inicio DATE DEFAULT NULL,\n      fecha_fin DATE DEFAULT NULL,\n      FOREIGN KEY (tipo_energia) REFERENCES tipos_energia(id_tipo)\n      )'),
 ('table',
  'tipos_energia',
  'tipos_energia',
  11,
  'CREATE TABLE tipos_energia (\n    id_tipo INTEGER PRIMARY KEY AUTOINCREMENT,\n    tipo TEXT NOT NULL\n  )')]

**Subconsulta en la cláusula WHERE**

In [27]:
## Utilizadas para filtrar resultados basados en los resultados de otra consulta
cursor = con.execute("""
                      SELECT nombre, ubicacion
                      FROM proyectos
                      WHERE id_proyecto IN (SELECT proyecto_id FROM inversiones WHERE monto > 2000000)
                      """)

rows = cursor.fetchall()  ## El metodo FETCHALL retorna los valores de la consulta

rows  ## Retorna una tupla

[('Parque Eólico La Guajira', 'La Guajira'),
 ('Planta Geotérmica Nariño', 'Nariño')]

**Subconsulta en la cláusula FROM**

In [28]:
cursor = con.execute("""
                  SELECT sub.nombre, sub.total_inversion
                  FROM (SELECT p.nombre, SUM(i.monto) AS total_inversion
                  FROM proyectos p
                  JOIN inversiones i ON p.id_proyecto = i.proyecto_id
                  GROUP BY p.nombre) sub
                  WHERE sub.total_inversion > 2000000;
                      """)

rows = cursor.fetchall()  ## El metodo FETCHALL retorna los valores de la consulta

rows  ## Retorna una tupla

[('Parque Eólico La Guajira', 5000000.0),
 ('Planta Geotérmica Nariño', 3000000.0)]

In [29]:
## Primero se analiza la subconsulta
"""
        SELECT p.nombre, SUM(i.monto) AS total_inversion
        FROM proyectos p
        JOIN inversiones i ON p.id_proyecto = i.proyecto_id
        GROUP BY p.nombre
"""

'\n        SELECT p.nombre, SUM(i.monto) AS total_inversion\n        FROM proyectos p\n        JOIN inversiones i ON p.id_proyecto = i.proyecto_id\n        GROUP BY p.nombre\n'

In [30]:
## Dentro de la subconsulta
""" 1.
    Se crean varios alias:
    proyectos se designa p
    inversiones se designa como i
    Y toda la subconsulta se denomina sub

    2.
    Se realiza la union con JOIN de las tablas proyectos e inversiones usando el campo id_proyecto

    3.
    SUM(i.monto) Se calcula la suma de los montos de las inversiones (i.monto) para cada proyecto.

    4.
    GROUP BY p.nombre: Se agrupan los resultados por el nombre del proyecto, lo que permite calcular
    la suma de las inversiones para cada proyecto individualmente.

    La subconsulta devuelve una tabla temporal con dos columnas: nombre (nombre del proyecto) y
    total_inversion (suma total de las inversiones para ese proyecto).

"""

' 1.\n    Se crean varios alias:\n    proyectos se designa p\n    inversiones se designa como i\n    Y toda la subconsulta se denomina sub\n\n    2.\n    Se realiza la union con JOIN de las tablas proyectos e inversiones usando el campo id_proyecto\n\n    3.\n    SUM(i.monto) Se calcula la suma de los montos de las inversiones (i.monto) para cada proyecto.\n\n    4.\n    GROUP BY p.nombre: Se agrupan los resultados por el nombre del proyecto, lo que permite calcular\n    la suma de las inversiones para cada proyecto individualmente.\n\n    La subconsulta devuelve una tabla temporal con dos columnas: nombre (nombre del proyecto) y\n    total_inversion (suma total de las inversiones para ese proyecto).\n\n'

In [ ]:
## Consulta principal
"""
        SELECT sub.nombre, sub.total_inversion
        FROM (subconsulta)
        WHERE sub.total_inversion > 2000000;
"""

"""
      Una vez es realizada la subconsulta, se procede a:

      1.
      Dado que sub, es el alias que se le da a la tabla temporal generada por la subconsulta
      SELECT sub.nombre, sub.total_inversion: Se seleccionan las columnas nombre y total_inversion de la tabla temporal sub.

      2.
      WHERE sub.total_inversion > 2000000: Se filtra la tabla temporal para incluir solo aquellos registros donde el
      total_inversion sea mayor a 2,000,000.
"""

'\n      Una vez es realizada la subconsulta, se procede a:\n         \n      1.\n      Dado que sub, es el alias que se le da a la tabla temporal generada por la subconsulta\n      SELECT sub.nombre, sub.total_inversion: Se seleccionan las columnas nombre y total_inversion de la tabla temporal sub.\n\n      2.\n      WHERE sub.total_inversion > 2000000: Se filtra la tabla temporal para incluir solo aquellos registros donde el\n      total_inversion sea mayor a 2,000,000.\n'

**Subconsulta en la cláusula SELECT**

In [31]:
cursor = con.execute("""
                    SELECT nombre,
                    (SELECT AVG(kw_h_generado)
                    FROM eficiencia_energetica e
                    WHERE e.proyecto_id = p.id_proyecto) AS promedio_kw_h
                    FROM proyectos p;
                      """)

rows = cursor.fetchall()  ## El metodo FETCHALL retorna los valores de la consulta
rows  ## Retorna una tupla

[('Proyecto Solar Andes', 1500.5),
 ('Parque Eólico La Guajira', 2000.5),
 ('Planta Hidrógeno Verde', 1800.5),
 ('Proyecto Biomasa Cauca', 1600.5),
 ('Planta Geotérmica Nariño', 1700.5)]

In [ ]:
"""   Subconsulta:
        SELECT AVG(kw_h_generado)
        FROM eficiencia_energetica e
        WHERE e.proyecto_id = p.id_proyecto
"""

In [ ]:
"""   Consulta principal:
         SELECT nombre,
         (promedio_kw_h)
         FROM proyectos p;
         """

**Función CASE** <br> La función CASE permite realizar condiciones en una consulta, similar a una estructura IF-ELSE en otros lenguajes de programación.

In [32]:
cursor = con.execute("""
                      SELECT nombre,
                         CASE
                           WHEN tipo_energia = 1 THEN 'Hidrógeno Verde'
                           WHEN tipo_energia = 2 THEN 'Eólica'
                           WHEN tipo_energia = 3 THEN 'Solar'
                           WHEN tipo_energia = 4 THEN 'Biomasa'
                           WHEN tipo_energia = 5 THEN 'Geotérmica'
                           ELSE 'Otro'
                         END AS tipo_energia
                      FROM proyectos;
                      """)
rows = cursor.fetchall()  ## El metodo FETCHALL retorna los valores de la consulta
rows  ## Retorna una tupla

[('Proyecto Solar Andes', 'Solar'),
 ('Parque Eólico La Guajira', 'Eólica'),
 ('Planta Hidrógeno Verde', 'Hidrógeno Verde'),
 ('Proyecto Biomasa Cauca', 'Biomasa'),
 ('Planta Geotérmica Nariño', 'Geotérmica')]

**Función COALESCE** <br> La función COALESCE devuelve el primer valor no nulo de una lista de argumentos. Es útil para manejar valores nulos en los datos.

In [33]:
## Si todos los valores son nulos, retorna NULL
cursor = con.execute("""
                    SELECT nombre, COALESCE(descripcion, 'No disponible') AS descripcion
                    FROM estudios;
                      """)

rows = cursor.fetchall()  ## El metodo FETCHALL retorna los valores de la consulta
rows  ## Retorna una tupla

[('Estudio de Viabilidad Solar',
  'Análisis de viabilidad para la planta solar en Andes'),
 ('Impacto Ambiental Eólico',
  'Evaluación del impacto ambiental del parque eólico en La Guajira'),
 ('Producción de Hidrógeno',
  'Estudio de métodos de producción de hidrógeno verde'),
 ('Biomasa y Sostenibilidad',
  'Análisis de sostenibilidad de la planta de biomasa en Cauca'),
 ('Eficiencia Geotérmica',
  'Estudio de eficiencia de la planta geotérmica en Nariño')]

**Función NULLIF** <br> La función NULLIF compara dos expresiones y devuelve NULL si son iguales. Si no son iguales, devuelve la primera expresión

In [34]:
cursor = con.execute("""
                      SELECT proyecto_id, NULLIF(monto, 0) AS monto
                      FROM inversiones;
                      """)
rows = cursor.fetchall()  ## El metodo FETCHALL retorna los valores de la consulta
rows  ## Retorna una tupla

[(1, 1000000.0),
 (2, 5000000.0),
 (3, 2000000.0),
 (4, 1500000.0),
 (5, 3000000.0)]

Filtrado de proyectos cuya descripción contiene la palabra 'solar' (ignorando mayúsculas/minúsculas)

In [35]:
cursor = con.execute("""
                      SELECT nombre, descripcion
                      FROM proyectos
                      WHERE LOWER(descripcion) LIKE '%solar%';
                      """)
rows = cursor.fetchall()  ## El metodo FETCHALL retorna los valores de la consulta
rows  ## Retorna una tupla

[('Proyecto Solar Andes', 'Desarrollo de una planta de energía solar')]

Eliminar espacios en blanco al principio y al final del nombre del proyecto

In [36]:
cursor = con.execute(""" SELECT TRIM(nombre) AS nombre_limpio, descripcion
                         FROM proyectos; """)
rows = cursor.fetchall()  ## El metodo FETCHALL retorna los valores de la consulta
rows  ## Retorna una tupla

[('Proyecto Solar Andes', 'Desarrollo de una planta de energía solar'),
 ('Parque Eólico La Guajira', 'Generación de energía eólica'),
 ('Planta Hidrógeno Verde', 'Producción de hidrógeno verde'),
 ('Proyecto Biomasa Cauca', 'Generación de energía a partir de biomasa'),
 ('Planta Geotérmica Nariño', 'Producción de energía geotérmica')]

Eliminar caracteres específicos al principio y al final de la cadena

In [37]:
cursor = con.execute(""" SELECT LTRIM(RTRIM('xxxproyecto solarxxx', 'x'), 'x') AS nombre_limpio;
                      """)
rows = cursor.fetchall()  ## El metodo FETCHALL retorna los valores de la consulta
rows  ## Retorna una tupla

[('proyecto solar',)]

Extraer los primeros 10 caracteres del nombre del proyecto

In [38]:
cursor = con.execute("""
                    SELECT SUBSTR(nombre, 1, 10) AS nombre_corto, descripcion
                    FROM proyectos;
                      """)
rows = cursor.fetchall()  ## El metodo FETCHALL retorna los valores de la consulta
rows  ## Retorna una tupla

[('Proyecto S', 'Desarrollo de una planta de energía solar'),
 ('Parque Eól', 'Generación de energía eólica'),
 ('Planta Hid', 'Producción de hidrógeno verde'),
 ('Proyecto B', 'Generación de energía a partir de biomasa'),
 ('Planta Geo', 'Producción de energía geotérmica')]

Extraer parte del nombre del proyecto desde el carácter 3 hasta el final

In [39]:
cursor = con.execute("""
                    SELECT SUBSTR(nombre, 3) AS nombre_parcial, descripcion
                    FROM proyectos;
                      """)

rows = cursor.fetchall()  ## El metodo FETCHALL retorna los valores de la consulta

rows  ## Retorna una tupla

[('oyecto Solar Andes', 'Desarrollo de una planta de energía solar'),
 ('rque Eólico La Guajira', 'Generación de energía eólica'),
 ('anta Hidrógeno Verde', 'Producción de hidrógeno verde'),
 ('oyecto Biomasa Cauca', 'Generación de energía a partir de biomasa'),
 ('anta Geotérmica Nariño', 'Producción de energía geotérmica')]

**Transacciones en SQL**: <br> Una transacción es una secuencia de una o más operaciones SQL que se ejecutan como una única unidad de trabajo. Las transacciones aseguran que las operaciones se realicen de manera coherente y se pueden deshacer en caso de error.

**BEGIN TRANSACTION:** <br> Inicia una transacción.
<br>**COMMIT:** <br>Confirma las operaciones realizadas durante la transacción.
<br>**ROLLBACK:**<br> Revierte las operaciones realizadas durante la transacción si hay errores

In [ ]:
query = """ BEGIN TRANSACTION;
            UPDATE proyectos
            SET tipo_energia = 'INVALIDO'  -- Error intencional (inserción de texto en una columna numérica)
            WHERE id_proyecto = 2;
            -- Revertir la transacción debido al error
            ROLLBACK;
            """
cursor = con.executescript(query)

In [ ]:
cursor = con.execute("SELECT * FROM proyectos")

rows = cursor.fetchall()

rows  ## Retorna una tupla

[(1,
  'Proyecto Solar Andes',
  'Desarrollo de una planta de energía solar',
  3,
  'Andes',
  '2022-01-01',
  '2023-01-01'),
 (2,
  'Parque Eólico La Guajira',
  'Generación de energía eólica',
  2,
  'La Guajira',
  '2021-05-01',
  '2022-12-01'),
 (3,
  'Planta Hidrógeno Verde',
  'Producción de hidrógeno verde',
  1,
  'Cartagena',
  '2023-03-01',
  '2024-03-01'),
 (4,
  'Proyecto Biomasa Cauca',
  'Generación de energía a partir de biomasa',
  4,
  'Cauca',
  '2022-06-01',
  '2023-06-01'),
 (5,
  'Planta Geotérmica Nariño',
  'Producción de energía geotérmica',
  5,
  'Nariño',
  '2023-01-01',
  '2024-01-01')]

In [ ]:
### ¿Cuáles son los proyectos de energía solar con su costo de producción
##   ordenados de mayor a menor?

In [ ]:
## ¿Qué comunidades energéticas están asociadas con proyectos
## de energía eólica?

In [ ]:
## ¿Cuál es el costo promedio de producción para cada tipo de energía?

In [ ]:
query = """ SELECT p.nombre, e.costo_produccion
            FROM proyectos p
            JOIN eficiencia_energetica e ON p.id_proyecto = e.proyecto_id
            WHERE p.tipo_energia = 3
            ORDER BY e.costo_produccion DESC;
            """
cursor = con.execute(query)
rows = cursor.fetchall()
rows  ## Retorna una tupla

[('Proyecto Solar Andes', 101250.0),
 ('Proyecto Solar Andes', 101000.0),
 ('Proyecto Solar Andes', 100750.0),
 ('Proyecto Solar Andes', 100500.0),
 ('Proyecto Solar Andes', 100250.0),
 ('Proyecto Solar Andes', 100000.0),
 ('Proyecto Solar Andes', 99500.0),
 ('Proyecto Solar Andes', 99250.0),
 ('Proyecto Solar Andes', 99000.0),
 ('Proyecto Solar Andes', 98750.0)]

In [ ]:
query = """ SELECT c.nombre, p.nombre AS proyecto
            FROM comunidades_energeticas c
            JOIN proyectos p ON c.proyecto_asociado = p.id_proyecto
            WHERE p.tipo_energia = 2;
            """
cursor = con.execute(query)
rows = cursor.fetchall()
rows  ## Retorna una tupla

[('Comunidad Eólica La Guajira', 'Parque Eólico La Guajira')]

In [ ]:
query = """ SELECT t.tipo, AVG(e.costo_produccion) AS costo_promedio
            FROM eficiencia_energetica e
            JOIN tipos_energia t ON e.tipo_energia_id = t.id_tipo
            GROUP BY t.tipo;            """
cursor = con.execute(query)
rows = cursor.fetchall()
rows  ## Retorna una tupla

[('Biomasa', 110025.0),
 ('Eólica', 150025.0),
 ('Geotérmica', 130025.0),
 ('Hidrógeno Verde', 120025.0),
 ('Solar', 100025.0)]

Los índices son estructuras de datos que mejoran la velocidad de recuperación de datos en una tabla a costa de un mayor espacio de almacenamiento y tiempo de inserción. Los índices se crean en columnas que se utilizan frecuentemente en cláusulas WHERE, JOIN y ORDER BY.

In [ ]:
query = """ CREATE INDEX idx_proyecto_id ON eficiencia_energetica(proyecto_id); """
cursor = con.execute(query)

In [ ]:
con.commit()

In [ ]:
query = """ EXPLAIN QUERY PLAN
            SELECT * FROM eficiencia_energetica
            WHERE proyecto_id = 1;
              """
cursor = con.execute(query)

In [ ]:
rows = cursor.fetchall()
rows  ## Retorna una tupla

[(3,
  0,
  0,
  'SEARCH eficiencia_energetica USING INDEX idx_proyecto_id (proyecto_id=?)')]